* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head {
  width: 100%;
  background-color: violet;
  display: flex;

  padding: 30px 20px;
  justify-content: flex-end;
}
.head-box {
  background-color: wheat;
  margin: 0 10px;
  flex-basis: 140px;
  height: 70px;
}

.head :first-child {
  margin-right: auto;
}
.main {
  display: flex;
  justify-content: center;
}
.side-bar {
  background-color: palegreen;
  width: 300px;
}
.box-area {
  background-color: seagreen;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-box {
  background-color: yellow;
  flex-basis: 200px;
  height: 120px;
  margin: 12px;
}
footer {
  background-color: #52a1ff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-box {
  background-color: #b6e7ff;
  width: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}
